stages: [deploy]

variables:
  HUGO_VERSION: "0.148.2"
  GIT_SUBMODULE_STRATEGY: none
  HUGO_ENVIRONMENT: "production"



default:
  image: ubuntu:24.04

deploy_hugo:
  stage: deploy
  only:
    - develop
  before_script:
    - apt-get update -y
    - apt-get install -y wget ca-certificates dpkg git rsync
    # # - apt-get install npm
    # Rewrite ALL GitHub submodules in .gitmodules from SSH to HTTPS (no auth needed for public repos)
    - |
      if [ -f .gitmodules ]; then
        git config -f .gitmodules --get-regexp 'submodule\..*\.url' | while read -r key url; do
          if [[ "$url" =~ ^git@gitlab\.tu-ilmenau\.de: ]]; then
            https_url="${url/git@gitlab.tu-ilmenau.de:/https://oauth2:${THEMEACCESS}@gitlab.tu-ilmenau.de/}"
            git config -f .gitmodules "$key" "$https_url"
          fi
        done

        git submodule sync --recursive
      fi
    # - cd themes/mainroad
    # - git remote set-url origin https://${THEMEACCESS}@gitlab.tu-ilmenau.de/FakEI/InIT/it-ems/ems-bazaar/ems-tu-ilmenau.github.io-theme.git
    # - cd ../..
    - git submodule update --init --recursive --depth 1
    - wget -O /tmp/hugo.deb "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
    - dpkg -i /tmp/hugo.deb
    # - npm install -g sass-embedded
    # - |
    #   if [ -f package-lock.json ] || [ -f npm-shrinkwrap.json ]; then
    #     npm ci
    #   fi
  script:
    - hugo --minify --environment "$HUGO_ENVIRONMENT" -D ${HUGO_BASEURL:+--baseURL "$HUGO_BASEURL"}
    - install -d -m 0755 /opt/content
    - rsync -a --delete public/ /opt/content/

mirror_main_to_github:
  stage: deploy
  image: alpine:latest
  variables:
    GIT_DEPTH: 0
    GIT_STRATEGY: fetch
  script:
    - apk add --no-cache git
    - git config --global user.name "GitLab CI"
    - git config --global user.email "ems@tu-ilmenau.com"
    - git checkout main
    - git remote add github "https://${GITHUBTOKEN}@github.com/EMS-TU-Ilmenau/EMS-TU-Ilmenau.github.io.git" || true
    - git pull origin main
    - git push github main:main
  only:
    - main
