baseURL = '/'
languageCode = 'en-us'
title = 'EMS Hub'
theme = 'mainroad'
sectionPagesMenu = 'main'

[Params]
  description = "EMS Hub" # Site description. Used in meta description
  copyright = "EMS Group TU Ilmenau, Ilmenau" # Footer copyright holder, otherwise will use site title
  readmore = true # Show "Read more" button in list if true
  authorbox = false # Show authorbox at bottom of pages if true
  toc = false # Enable Tab˜˜˜le of Contents
  pager = false # Show pager navigation (prev/next links) at the bottom of pages if true
  post_meta = ["author", "date", "categories"] # Order of post meta information
  dateformat = "2006-01-02" # Change the format of dates
  mathjax = true # Enable MathJax
  googleFontsLink = "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" # Load Google Fonts
  comments = false # Enable Disqus comments for specific page
  customCSS = ["custom.css"]
  math = true

[Params.logo]
  image = "logo.png" # Logo image. Path relative to "static"
  title = "Data, Documentation, Papers" # Logo subtitle
  subtitle = "" # Logo title, otherwise will use site title

[Params.style.vars]
  highlightColor = "#1a1a1a" # other options: #691E06
  uiColor = "#4a4a4a" # other options: #691E06
  # see https://coolors.co/691e06-ff5b00-007a7b-00355c-9c0d38

[Params.sidebar]
  home = "right" # Configure layout for home page
  list = "right"  # Configure layout for list pages
  single = true # Configure layout for single pages
  widgets = ["taglist", "social"]

[Params.widgets.social]
  cached = false
  linkedin = "company/elektronische-messtechnik-ems"
  github = "EMS-TU-Ilmenau"
  email = "ems@tu-ilmenau.de"

[markup]
  [goldmark]
    [Extensions]
      footnote = true
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]
