baseURL = '/'
languageCode = 'en-us'
title = 'EMS Hub'
theme = 'mainroad'


[Params]
  description = "EMS Hub" # Site description. Used in meta description
  copyright = "EMS Group TU Ilmenau, Ilmenau" # Footer copyright holder, otherwise will use site title
  readmore = true # Show "Read more" button in list if true
  authorbox = false # Show authorbox at bottom of pages if true
  toc = true # Enable Table of Contents
  pager = false # Show pager navigation (prev/next links) at the bottom of pages if true
  post_meta = ["author", "date", "categories"] # Order of post meta information
  dateformat = "2006-01-02" # Change the format of dates
  mathjax = true # Enable MathJax
  googleFontsLink = "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" # Load Google Fonts
  comments = false # Enable Disqus comments for specific page
  customCSS = ["custom.css"]
  math = true

[Params.logo]
  image = "logo.png" # Logo image. Path relative to "static"
  title = "Data, Documentation, Papers" # Logo subtitle
  subtitle = "" # Logo title, otherwise will use site title

[Params.style.vars]
  highlightColor = "#1a1a1a" # other options: #691E06
  uiColor = "#013350" # other options: #691E06, #024975, #01263C, #4a4a4a, #013350
  uiColorAlt1 = "#0f838b" # other options: #691E06
  headingColor = "#024975"
  # see https://coolors.co/691e06-ff5b00-007a7b-00355c-9c0d38

[Params.sidebar]
  home = "right" # Configure layout for home page
  list = "right"  # Configure layout for list pages
  single = true # Configure layout for single pages
  widgets = ["social","taglist"]

[Params.widgets.social]
  cached = false
  linkedin = "company/elektronische-messtechnik-ems"
  github = "EMS-TU-Ilmenau"
  email = "ems@tu-ilmenau.de"

# Custom social links
[[Params.widgets.social.custom]]
  title = "EMS TU Ilmenau Website"
  url = "https://www.tu-ilmenau.de/en/ems"
  icon = "svg/tag.svg" # Optional. Path relative to "layouts/partials"
  rel = "noopener noreferrer" # Set to false to remove the rel attribute

[Params.mermaid]
  enable = true

[menu]
  [[menu.main]]
      name = "Home"
      url = "/"
      weight = 1

  [[menu.main]]
      name = "Datasets"
      url = "/dataset/"
      weight=2

  [[menu.main]]
      name = "Publications"
      url = "/papers/"
      weight = 3

  [[menu.main]]
      name = "Measurement Systems"
      url = "/system/"
      weight = 4

  [[menu.main]]
      name = "Software"
      url = "/software/"
      weight = 5

  [[menu.main]]
      name = "Docu"
      url = "/docu/"
      weight = 6

  [[menu.main]]
      name = "Student Topics"
      url = "/students/"
      weight = 7

  [[menu.main]]
      name = "Career"
      url = "/career/"
      weight = 8

  [[menu.footer]]
      name = "Imprint"
      url = "/impressum/"
      weight = 1

  [[menu.footer]]
      name = "Privacy"
      url = "https://www.tu-ilmenau.de/en/privacy"
      weight = 2

  [[menu.footer]]
      name = "Disclaimer"
      url = "/haftung"
      weight = 3

[markup]
  [goldmark]
    [Extensions]
      footnote = true
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]
