<div id="{{ .Get "id" | default (printf "mermaid-%d" (now.UnixNano)) }}"></div>

<script src="https://cdn.jsdelivr.net/npm/mermaid@11.12.1/dist/mermaid.min.js"></script>
<script>
  (function() {
    const id = "{{ .Get "id" | default (printf "mermaid-%d" (now.UnixNano)) }}";
    const version = mermaid.version;
    const diagramDefinition = `{{ .Inner | safeJS }}

%% Mermaid Version: ${version}
`;

    mermaid.initialize({
      startOnLoad: false,
      theme: '{{ .Get "theme" | default "neutral" }}',
      themeVariables: {
        lineColor: '{{ .Get "lineColor" | default "gray" }}'
      },
      flowchart: {
        layout: '{{ .Get "layout" | default "dagre" }}'
      }
    });

    mermaid.render(id, diagramDefinition, function(svgCode) {
      document.getElementById(id).innerHTML = svgCode;
    });
  })();
</script>
